form{

}
form h2 {
    font-family: "Releway", serif;
    margin: 0;
    float: left;
    color: #CB9964;
}
form hr {
    float: left;
    margin: 15px 0 25px;
    background-color: #CB9964;
    border-style: solid;
    border-width: 1px;
    border-color: #CB9964;
}
form div.input {
    float: left;
}
form div.input p {
    font-family: "Releway", serif;
    width: 90px;
    float: left;
    font-size: 18px;
    color: #CB9964;
    padding: 5px;
}
form div.input p.textOtazka {
}
form div.input input {
    width: 295px;
    float: left;
    height: 35px;
    background-color: #CB9964;
    border-style: solid;
    border-width: 2px;
    border-color: #541f04;
    border-radius: 5px;
    font-size: 18px;
    font-family: "Releway", serif;
    color: rgba(41, 12, 5, 0.9);
    padding: 5px;
    outline-color: #CB9964;
}
form div.input textarea {
    height: 100px;
    float: left;
    background-color: #CB9964;
    border-style: solid;
    border-width: 2px;
    border-color: #541f04;
    border-radius: 5px;
    font-size: 18px;
    font-family: "Releway", serif;
    color: rgba(41, 12, 5, 0.9);
    padding: 5px;
    outline-color: #CB9964;
}
form div.input input {
    float: right;
    width: 200px;
    height: 45px;
    background-color: #CB9964;
    border-style: solid;
    border-width: 2px;
    border-color: #541f04;
    border-radius: 5px;
    font-size: 20px;
    font-family: "Releway", serif;
    color: rgba(41, 12, 5, 0.9);
    padding: 5px;
    margin-top: 8px;
    outline-color: #CB9964;
}
form div.input input:hover {
    color: #CB9964;
    background-color: #541f04;
}